body {
    background-color: rgb(39, 48, 93);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700xp;
    margin: 0;
}

button {
    background-color: #46869b;
    color: whitesmoke;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

 main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}